*
!run.sh
!run.ps1
!Directory.Build.props
!src/Exercism.TestRunner.FSharp
src/Exercism.TestRunner.FSharp/bin
src/Exercism.TestRunner.FSharp/obj
.appends
.git
.github
.gitignore
.gitattributes
.dockerignore
Dockerfile
